CMakePresets.json
CMakeUserPresets.json
build/
test_package/build/
build.log
.ninja*
build.ninja
CMakeCache.txt
cmake*
conan_*
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
install_manifest.txt
*.cmake
CMakeFiles/
package/
*.whl
*.tar.gz
*.a
*.so
swig_conan_test.py